<a href="https://colab.research.google.com/github/khatriprajwol/Data-Visualization-/blob/main/DIFFERENT%20TYPES%20OF%20JOINS%20IN%20SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#[Types of Joins](https://www.educba.com/types-of-joins-in-sql/)

#What are different types of `JOINS` in SQL?

There are `four` different types of joins that we can use in SQL to connect many tables. They are: Inner Join, Full Join, Left Join and Right Join. 


#JOINING CRITERIA
-> Must have  some `Common field` in both tables. 


![JOINS](https://cdn.educba.com/academy/wp-content/uploads/2019/10/Types-of-Joins-in-SQl.png)

The best way to understant join is to think it as a set where we have learned about the `intersection` , `union` and `A only`, so on. 






#Why we would wanna use them anyway?

- To join two or more tables
- We can find the relationship between multiple tables.
- We can access data quickly from a multiple tables. 
- Saves a lot of time
- Makes our work easier to some extent

#Inner JOIN
![Fig-1](https://cdn.educba.com/academy/wp-content/uploads/2019/09/t2.png)

In the above diagram `3` represents Inner Join.

Inner Join is just like an Intersection where we select the data that is present in both tables.

#Syntax for Inner Join: 

*SELECT column-names 
  FROM table-name1 INNER JOIN table-name2 ON column-name1 = column-name2 
  WHERE condition*

#Left Join

In left join, we select all the data from the left table and from the right table only select the data set which matches up with the condition mentioned with the join `(here area 1+3)`

![Fig](https://cdn.educba.com/academy/wp-content/uploads/2019/09/t2.png)

#Syntax for Left Join:

*SELECT column-names FROM table-name1 LEFT JOIN table-name2 ON column-name1 = column-name2 WHERE condition*

#Right Join

In right join, we select all the data from the right table and from the left table only select the data set which matches up with the condition mentioned with the join `(here 3+2)`

![Fig](https://cdn.educba.com/academy/wp-content/uploads/2019/09/t2.png)


#Syntax for Right Join:

SELECT column-names FROM table-name1 RIGHT JOIN table-name2 ON column-name1 = column-name2 WHERE condition

#Full Join

In full join, all the records form both the tables are merged and selected irrespective of the condition mentioned with the join having met or not. `(here 1+2+3)`

![Fig](https://cdn.educba.com/academy/wp-content/uploads/2019/09/t2.png)


#Syntax for Full Join:

SELECT column-names FROM table-name1 FULL JOIN table-name2 ON column-name1 = column-name2 WHERE condition

[LINK](https://www.educba.com/types-of-joins-in-sql/)

[Seaborn](https://seaborn.pydata.org/examples/scatterplot_matrix.html)

Important library