<a href="https://colab.research.google.com/github/khatriprajwol/Data-Visualization-/blob/main/Exam2review.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np #a matrix like package for handling data
import pandas as pd #a R like package for handling data
from scipy import stats #a way to just get a piece of a large package
import matplotlib.pyplot as plt #a way to generate plots, histograms, bar charts, and other types of charts 
import seaborn as sns #it is based on matplotlib
import requests #HTTP library
import pandas as pd # used to manipulate data and analyze it
from bs4 import BeautifulSoup #Used for a web scraping purposes to pull the data out of HTML and XML files

In [2]:
import pandas as pa
df = pa.read_csv("https://raw.githubusercontent.com/nurfnick/Data_Viz/main/bank.csv")
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no

In [3]:
df.dtypes

age           int64
job          object
marital      object
education    object
default      object
balance       int64
housing      object
loan         object
contact      object
day           int64
month        object
duration      int64
campaign      int64
pdays         int64
previous      int64
poutcome     object
y            object
dtype: object

In [4]:
df.y=="yes"

0       False
1       False
2       False
3       False
4       False
        ...
4516    False
4517    False
4518    False
4519    False
4520    False
Name: y, Length: 4521, dtype: bool

In [5]:
sum(df.y =="yes")

521

Here 521 true

In [6]:
df.y =df.y=="yes"

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4521 entries, 0 to 4520
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        4521 non-null   int64
 1   job        4521 non-null   object
 2   marital    4521 non-null   object
 3   education  4521 non-null   object
 4   default    4521 non-null   object
 5   balance    4521 non-null   int64
 6   housing    4521 non-null   object
 7   loan       4521 non-null   object
 8   contact    4521 non-null   object
 9   day        4521 non-null   int64
 10  month      4521 non-null   object
 11  duration   4521 non-null   int64
 12  campaign   4521 non-null   int64
 13  pdays      4521 non-null   int64
 14  previous   4521 non-null   int64
 15  poutcome   4521 non-null   object
 16  y          4521 non-null   bool
dtypes: bool(1), int64(7), object(9)
memory usage: 569.7+ KB

Now it became bool from object. We can use info() command or dtypes. For some reason I love info command, since it provides me with all the detail in hand.

In [8]:
import re
re.sub(r"-", "_",df.job[6])

'self_employed'

Replaced `-` with `_`.

In [9]:
df.job.apply(lambda x: re.sub(r"-", "_",x))

0          unemployed
1            services
2          management
3          management
4         blue_collar
            ...
4516         services
4517    self_employed
4518       technician
4519      blue_collar
4520     entrepreneur
Name: job, Length: 4521, dtype: object

In [10]:
df.job = df.job.apply(lambda x: re.sub(r"-", "_",x))

In [11]:
import numpy as np
df.pdays.replace( -1, np.nan)

0         NaN
1       339.0
2       330.0
3         NaN
4         NaN
        ...
4516      NaN
4517      NaN
4518      NaN
4519    211.0
4520    249.0
Name: pdays, Length: 4521, dtype: float64

We did this to remove `-1` from a `pdays`.

In [12]:
df.pdays = df.pdays.replace( -1, np.nan)

In [13]:
df.pdays.fillna(0)

0         0.0
1       339.0
2       330.0
3         0.0
4         0.0
        ...
4516      0.0
4517      0.0
4518      0.0
4519    211.0
4520    249.0
Name: pdays, Length: 4521, dtype: float64

In [14]:
df.groupby('job').balance.agg(['mean','median','count', 'std'])

                      mean  median  count          std
job
admin.         1226.736402   430.0    478  2370.119128
blue_collar    1085.161734   408.5    946  2040.218220
entrepreneur   1645.125000   365.5    168  4441.303620
housemaid      2083.803571   296.5    112  4603.836647
management     1766.928793   577.0    969  3267.733077
retired        2319.191304   672.5    230  5846.379889
self_employed  1392.409836   483.0    183  2479.640999
services       1103.956835   288.0    417  2445.239976
student        1543.821429   422.5     84  2579.886671
technician     1330.996094   434.5    768  2630.253390
unemployed     1089.421875   473.5    128  1692.267628
unknown        1501.710526   655.5     38  1957.258258

In [15]:
pa.unique(df.month)

array(['oct', 'may', 'apr', 'jun', 'feb', 'aug', 'jan', 'jul', 'nov',
       'sep', 'mar', 'dec'], dtype=object)

In [16]:
monthConvert = {
    'jan':1,
    'feb':2,
    'mar':3,
    'apr':4,
    'may':5,
    'jun':6,
    'july':7,
    'aug':8,
    'sep':9,
    'oct':10,
    'nov':11,
    'dec':12
}

In [17]:
pa.to_datetime(dict(year = 2020, day= df.day, month= df.month.map(monthConvert)))

0      2020-10-19
1      2020-05-11
2      2020-04-16
3      2020-06-03
4      2020-05-05
          ...
4516          NaT
4517   2020-05-09
4518   2020-08-19
4519   2020-02-06
4520   2020-04-03
Length: 4521, dtype: datetime64[ns]

In [18]:
##by_education = df.groupby("tertiary")
##by_education.get_group("cellular")

In [19]:
##df.groupby(['education'],['contact']).age.agg('count')